<div class="container mt-5 mb-5">
  <h1>Contact</h1>
  <form class="col-lg-8">
    <div class="row">
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Ime">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Prezime">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Broj telefona">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="E-mail">
      </div>
      <div class="col-lg-12 mt-2 mb-2" mt-2 mb-2>
        <button class="btn">Potvrdi</button>
      </div>
    </div>
  </form>
</div>
