<div class="GlavniBaner">
  <div class="GlavniKomponente">
  <h1>Topla jela na vašim vratima</h1>
  <a routerLink="menu">Naruči odmah <i class="bi bi-arrow-right-square-fill"></i></a>
</div>
</div>
<div class="container mt-5 mb-5">
  <h1 class="text-center">Kako dobiti <span class="izdvoji">ukusnu hranu</span> ?</h1>
  <div class="row mt-5">
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
        <h1>1</h1>
        <p>Odaberi jelo</p>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
      <h1>2</h1>
      <p>Popuni svoje podatke</p>
        </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
      <h1>3</h1>
      <p>Vaša narudžba je tu!</p>
      </div>
    </div>
</div>
  </div>
<div class="HranaKontejner mt-4 mb-4">
  <div class="row">

    <div class="kont col-lg-3 mt-3"*ngFor="let x of hranaPodaci;">
      <div class="Hranabox"*ngIf="x.id<=3">
        <img [src]="x.slika"/>
        <h1>{{x.naziv}}</h1>
        <p>{{x.detalji}}</p>
        <h2>{{x.cijena | currency:"BAM "}}</h2>
      </div>
      </div>
  </div>
  <a routerLink="menu" class="višeJelaBtn">više jela<i class="bi bi-arrow-right"></i> </a>
</div>
