<div class="GlavniBaner">
  <div class="GlavniKomponente">
  <h1>Topla jela na vašim vratima</h1>
  <a routerLink="menu">Naruči odmah <i class="bi bi-arrow-right-square-fill"></i></a>
</div>
</div>
<div class="container mt-5 mb-5">
  <h1 class="text-center">Kako dobiti <span class="izdvoji">ukusnu hranu</span> ?</h1>
  <div class="row mt-5">
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
        <h1>1</h1>
        <p>Odaberi jelo</p>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
      <h1>2</h1>
      <p>Popuni svoje podatke</p>
        </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="UputeKontenjer">
      <h1>3</h1>
      <p>Vaša narudžba je tu!</p>
      </div>
    </div>
</div>
  </div>
