.active-link {
  font-weight: bold;
}
* {
  color: red;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.navbar-nav .nav-link.active {
  color: red;
  display: block;
}
.search-form {
  margin-left: 20px;
}
