.footer
{
  top:100%;
  position: sticky;
  overflow: hidden;
  background-color: #171515;
  padding: 20px 15px;
margin-top: 30px;
}
h1
{
  font-weight: bold;
  color: red;
  font-size:30px;
}
a{
  color: red;
  text-decoration:underline;
  padding: 2px 5px;
  font-size: 25px;

}
i{
  padding:0px 10px ;

}
p{
  color: red;
  font-size: 18px;
  font-style: italic;
}
